<nav class="navbar navbar-default" role="navigation" *ngIf="isLoggedIn()">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Medical Journals: Front office</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a routerLink="/browse" ><span class="glyphicon glyphicon-th-list"></span>Journals</a></li>
        
            <!--<li *ngIf="isAdmin()" [routerLinkActive]="['active']"><a routerLink="/new"><span class="glyphicon glyphicon-plus"></span></a></li>-->
            <!--<li *ngIf="isAdmin()" [routerLinkActive]="['active']"><a routerLink="/users"><span class="glyphicon glyphicon-user"></span>Users</a></li>-->

        
            
        </ul>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="term" #termField>
            </div>
            <button type="submit" class="btn btn-default" (click)="searchFor(termField.value)">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a routerLink="/login"><span class="glyphicon glyphicon-user"></span>Log in</a></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    
                    <span *ngIf="isAdmin()" class="label label-default">admin</span>
                    
                    <span class="glyphicon glyphicon-user"></span>{{userEmail()}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li ><a routerLink="/profile" ><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    <li ><a (click)="logout()"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>


<router-outlet></router-outlet>