
<app-product *ngIf="product" [editable]="userIsAdmin()" [product]="product" [papers]="papers" 
    (onSubmit)="updateProduct($event)"
    (onSubmitNewPaper)="createNewPaper($event)"
    (onDeletePaper)="deletePaper($event)"
    (onDeleteJournal)="deleteJournal($event)"
    (onReadPaper)="goToPaper($event)" 
    (onSubscribe)="subscribe($event)"
    (onUnsubscribe)="unsubscribe($event)"></app-product>

<div class="container">
    
    <div class="row" *ngIf="!product">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
              
            </div>
        </div>
    </div>
    
</div>